
<div >
   <!--Removing the bread crumb-->
    <!--<div class="row pt pb pls">
       <a class="pull-left pr strong"  routerLink="/offer-management" >Features & Dependency </a><span class="pull-left ">>></span> 
       <a class="pull-left pr pl"  routerLink="/market-management" >Features Mapping </a><span class="pull-left ">>></span>        
       <a class="pull-left pr pl"  routerLink="/bundle-management" >Offer Bundles </a>
    </div>-->
    <div class="row pt pb pls ">
      <strong pull-left pr strong>Features & Dependencfgdfgdfgydd</strong>    
    </div>
    
  
<div>

